body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: rgba(202, 209, 200, 1);
    color: #333;
}

header {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(202, 209, 200, 1);
}

.app-logo {
    height: 50px; 
    margin-right: 15px; /* Space between logo and title */
}

/* App name */
h1 {
    text-align: center;
    color: rgba(77, 101, 98, 1); /* Icon color for main title */
}

/* Language selector */
select {
    width: auto; 
    padding: 8px 12px;
    border: 2px solid rgba(250,250,250,0.9);
    border-radius: 5px; 
    background-color: rgba(0, 123, 127, 1);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* Hover effect for language selector */
select:hover {
    background-color: rgba(161, 102, 164, 1); 
}

h2 {
    color: rgba(88, 131, 115, 1);
    text-align: center;
}

h3 {
    color: rgba(77, 101, 98, 1);
}

/* FAQ list */
ul {
    list-style-type: none;
    padding: 0;
}

/* Style of each question & answer block */
li {
    background-color: rgba(89, 131, 115, 0.2);
    border-radius: 8px;
    margin: 10px 0;
    padding: 15px;
}


/* Contact form container */
.form-container {
    margin-top: 20px;
    background-color: rgba(230, 230, 250, 0.6);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form {
    padding: 15px;
    text-align: center;
}

/* Form submit button */
input[type="submit"] {
    background-color: rgba(0, 123, 127, 1);
    color: white; 
    border-radius: 5px; 
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: normal;
    border: 2px solid rgba(250,250,250,0.9);
    /* Smooth transition for hover transform effect */
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

/* Hover effect for form submit button */
input[type="submit"]:hover {
    background-color: rgba(161, 102, 164, 1);
    transform: scale(1.05); /* Increase size for emphasis */
}

.form-email, .form-message {
    flex-direction: row;
    padding: 10px;
}

.form-submit {
    padding-top: 10px;
}

.form-message textarea {
    width: 80%;
}

/* Smaller screen widths */
@media (max-width: 600px) {
    body {
        padding: 10px; /* Reduce padding */
    }

    li {
        padding: 10px; /* Reduce padding */
    }

    .form-message textarea {
        width: 100%; /* Increase size of form message field */
    }
}